body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-dove {
  width: 2rem;
  height: auto;
  margin-left: .75rem;
}

.service_times {
  background: linear-gradient(0deg, rgba(0 0 0 / 70%), rgba(0 0 0 / 70%)), url(./assets/sanctuary.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100% !important;
}

.welcome_dove {
  height: auto;
  width: 13rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.m-6 {
  margin: 6rem;
}

.display-text-shadow {
  text-shadow: 1px 7px 11px black;
}

.welcome-image {
  position: relative;
  overflow: hidden;
  z-index: -1;
  width: 100%;
}

.round-button {
  border-radius: 100px;
}

.welcome-text {
  font-size: 145%;
}

#videoDiv2 {
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
  color: white;
  box-shadow: black;
}

/* This has been changed */
#video2 {
  width: 100%;
  height: auto;
  filter: brightness(.4);
}

/* This has been changed */
#videoMessage2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.visit-card{

  overflow:hidden;

  padding-bottom:52.25%;

  position:relative;

  height:0;

}

.visit-card iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}

.video-btn{
  width:21rem;
}